<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="src/main/java/service/ServiceEngineMapper">
  		<resultMap type="engine" id="resultAll">
  			<id property="engineId" column="engine_id"/>
  			<result property="name"  column="name"/>
  			<result property="horsepower"  column="horsepower"/>
  			<result property="consumption"  column="consumption"/>
  		</resultMap>
  		<select id="selectAllEngine" resultType="engine" resultMap = "resultAll">
			  	SELECT * FROM engine
  		</select>
  		<insert id="insertEngine" parameterType="engine" keyProperty="engineId" useGeneratedKeys="false">
  				INSERT INTO engine VALUES(#{engineId}, #{name}, #{horsepower}, #{consumption})
  		</insert>
  		<update id="updateEngine" >
  			UPDATE engine SET 
  			engine_id=#{engineId},
  			name=#{name},
  			horsepower=#{horsepower},
  			consumption=#{consumption},
  			WHERE engine_id = #{engineId}
  		</update>
  		<delete id="deleteEngine">
  			DELETE FROM engine WHERE engine_id=#{engineId}
  		</delete>
  </mapper>